@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body {
    background-color: white;
    max-width:390px;
    text-align: center;
    font-family: 'Pacifico', cursive;
}
li {
    text-align: left;
}

